.container{
border: 2px black solid;
margin: auto;
height: fit-content;
width: 400px
margin-top:10px
}
.box{
  margin-top: 20px;
  margin-left: 17.5px;
}
.box1{
  margin-top: 20px;
  margin-left: 17.5px;
}
.box2{
  margin-top: 20px;
  margin-left: 17.5px;
}
.box3{
  margin-top: 20px;
  margin-left: 17.5px;
}
.box4{
  margin-top: 20px;
  margin-left: 17.5px;
}
.box5{
  margin-top: 20px;
  margin-left: 17.5px;
}