.navigation{
  background-color: yellow;
  height: 50px;
  border: 2px black solid;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px; 
  
}
.list{
  display: flex;
  gap: 30px;
  list-style-type: none;
}
 .list{
   ;
 }
.text{
  width: 200px;
  height: 200px;
  margin-top: -400px;
  margin-left: 600px;
  position: absolute;
}
.image{
  margin-top: 0px;
}
.image1{
  width: 600px;
}