
.container{
  border: 2px black solid;
  width: 400px;
  height:400px; 
  margin-left: 300px;
  margin-top: 200px;
  }
  .image{
    margin-left: 125px;
    width: 20px;
    height: 20px;

    
  }
.file{
  border: 2px black solid;
  margin: 10px;
  width: 50px;
    height: 50px;
    border-radius: 50%;
  
  
}
.name{ 
  margin-top: 70px;
margin-left: 10px;
 border-radius: 20px;
 width: 140px;


  
}
.email{
  margin-top: -70px;
  
  width: 140px;
margin-left: 180px;
 border-radius: 20px;
 

}
.emaildiv{
  margin: -21px;
  margin-left: 10px;
}
.submit{
  margin-top: 60px;
  margin-left: 125px;
}