body{
}



.container{
  border: 2px black solid;
}



.section1{
  border: 2px black solid;
  width: 100%;
  height: 10%;
}


.section1div1{
  border: 2px black solid;
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin-left: 50px;
  width: 30%;
}

.section1div2{
  border: 2px black solid;
  width: 35%;
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin-left: 60%;
  margin-top: -30px;}
  
  
  
  
  
  
  
  
  
  .section2{
    border: 2px black solid;
    width: 100%;
    height: 10%;
    margin-top: 20px;
    
  }
  
  
  .section2div1{
    border: 2px black solid;
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-left: 50px;
    width: 30%;
    margin-top: -20px;
  }
  
  .section2div2{
    border: 2px black solid;
    width: 35%;
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-left: 60%;
    margin-top: -60px;
  }
  .date{
    width: 80px;
    height: 20px;
    border-radius: 10px;
    font-family: white;
    color: white;
    background: black;
    text-align: center;
    }
    
    
    
    
    
    .section3{
      width: 90%;
      height: 600px;
      border: 2px black solid;
      margin-left: 5%;
      margin-top: 20px;
      
    }
   .hurry{
     border: 2px black solid;
     width: 20%;
     height: 40px;
     position: absolute;
     margin-left: 200px;
     margin-top: 300px;
     
   }
   
  .section4{
    border: 2px black solid;
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
    
  }
  .section4div1{
    border: 2px black solid;
      width: 30%;
      height: 300px;
      margin-left: 0px;
     
  }
  .section4div2{
    border: 2px black solid;
    width: 30%;
    margin-left: 36%;
    height: 300px;
    margin-top: -305px;
  }
  .section4div3{
     border: 2px black solid;
     width: 30%;
     height: 300px;
  margin-left: 70%;
  margin-top: -305px;
  }
  
  
  
  
  
  
.section5{
 height: 500px;
 width: 90%;
 border: 2px black solid;
 margin-left: 5%;
 margin-top: 30px;
}




.section6{
  border: 2px black solid;
  margin-top: 30px;
  margin-left: 5%;
 width: 90%;
  height: 70px;
}


.section6div1{
  border: 2px black solid;
  width: 100px;
  height: 50px;
  margin-top: 10px;
  margin-left: 150px;
}

.section6div2{
  border: 2px black solid;
  width: 100px;
  height: 50px;
  margin-top: -54px;
  margin-left: 350px;
}

.section6div3{
  border: 2px black solid;
  width: 100px;
  height: 50px;
  margin-top: -54px;
  margin-left: 600px;
}

.section7{
  border: 2px black solid;
  width: 90%;
  margin-left: 5%;
  margin-top: 30px;
}



  .section7div1{
    border: 2px black solid;
      width: 30%;
      height: 300px;
      margin-left: 0px;
     
  }
  .section7div2{
    border: 2px black solid;
    width: 30%;
    margin-left: 36%;
    height: 300px;
    margin-top: -305px;
  }
  .section7div3{
     border: 2px black solid;
     width: 30%;
     height: 300px;
  margin-left: 70%;
  margin-top: -305px;
  }