.sectiontop{
 border: 2px; black: solid;
 display: flex;
 justify-content: left;
 text-align: center;
 margin-top: 30px;
 margin-right: 15px;
 list-style-type: none;
 gap: 15px;
}
.section1{
  border: 2px; color: black solid;
  margin: auto;
} by